{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}View "{{ post['title'] }}"{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="title">Title</label>
    <input name="title" id="title" value="{{ request.form['title'] or post['title'] }}" readonly>
    <label for="body">Body</label>
    <textarea name="body" id="body" readonly>{{ request.form['body'] or post['body'] }}</textarea>
    <label for="like">Like</label>
    {% if vote %}
      <input name="like" id="like" type='checkbox' value="{{ request.form['like'] or vote['id'] }}" checked>
    {% else %}
      <input name="like" id="like" type='checkbox' value="{{ request.form['like'] or vote['id'] }}">
    {% endif %}
    <input class="save" type="submit" value="Save">
  </form>
  <form action="{{ url_for('index') }}">
    <input type="submit" value="Cancel">
  </form>
{% endblock %}
